*{
	padding: 0;
	margin: 0;
}
.cont{
	width: 100%;
	min-height: 94.9vh;
}
.top{
	margin-top:50px;
}
.ynap{
	position: absolute;
	left:20%;
	background-color: #f3ce00;
	width: 560px;
	height:65px;
	font-family: 'Francois One', sans-serif;

}
.ynap>h1{
	
	text-align: right;
	margin-top: 10px;
	padding-right: 25px;

}
.main{
	width: 100%;
	padding-top: 30px;
	min-height: 90vh;
	

}
.left{
	width: 40%;
	margin-left: 7%;
	float: left;
	height: 95.9vh;
	background-image: url("../img/blocks1.jpg");

}
.col-md-4{
	position: static!important;
}
.right{
	padding: 20px;
	width: 50%;
	float: right;
	height: 91.9vh;
	font-family: 'Lusitana', serif;
}
#right>h2{
	padding: 35px;
	padding-top: 7%;
	font-size: 1.4rem;
}
.text{
	max-width: 500px;
	
	text-align: justify;

}
.bot{
	min-height: 101vh;

	margin-top: 5%;
}
.bottom{
	width: 80%;
	height: 500px;
	position: absolute;
	left:20%;
	background-color: white;
	background-image: url("../img/blocks2.jpg");
	background-position: center;
}
.bottom>h2{
	position: absolute;
	top:90%;
	background-color: black;
	color: white;
	
	text-align: right;
	margin-left: -50px;
	height: 80px;
	font-size: 1.3rem;
	padding-top: 16px;
	padding-right: 25px;
	font-family: 'Francois One', sans-serif;

}
.col-md-6{
	font-size: 1.7rem!important;
	padding: 5px;

}
.tp{
	
	position: absolute;
	top:180%;
	width: 70%;
	left:15%;
	min-height: 230px;
}
.about{
	padding: 10px;
	font-size: 3rem;
	font-family: 'Francois One', sans-serif;
}

.img-responsive{
	width: 150px;
	padding: 10px;
	float: left;
}
.aboutme{
	font-family: 'Francois One', sans-serif;

}
.jj{
	font-size: 13rem;
	padding: 55px;
}
@media only screen and (max-width: 1024px) {
   .ynap{
	
	left:15%;
	text-align: right;
	width: 320px;
	height:65px;

	
	}
	.ynap>h1{
		font-size: 3rem!important;
	}
	 .jj{
	 	font-size: 5rem;
	 	padding: 0;
	 }
	 .aboutme{
	 	padding:10px;
	 }
}